@import "variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

#btn__pad {
margin-bottom: 3em;
}

.login__container-fluid {
padding:50px;
}

.login__form-check {
padding-bottom: 1em;
padding-left: 1.2em;
}
  
#login__title {
font-family: $font-type;
}

.header	{
display: inline-flex;
justify-content: space-between;
}

.header__mobile {
display: none;
}

.logo {
padding-top: 1em;
}

.logo__img {
width: 9em;
height: 9em;
}

.menu ul {
font-family: $font-type;
font-size: weight(m);
list-style: none;
display: inline-flex;
justify-content: flex-end;
white-space: pre;
}

.menu__item {
color: black;
display: block;
text-decoration: none;
padding: 0.5em;
}

.menu__item:hover {
background: $primary-color;
text-decoration: none;
color: white; 
border-radius: 5px;}

#main__carousel {
width: 95%;
height: 38em;
overflow: hidden;
margin-bottom: 10em;
margin-top: 5em;
margin-left: 2.5%;
margin-right: 2.5%;}

.carousel__inner img {
width: 100%;
height: 100%;
object-fit: cover;
}

#index__text {
margin-left: 10%;
margin-right:10%;
width: 80%;
display: wrap;
text-align: center;
font-size: weight(s);
font-family: $font-type;
margin-bottom: 10%;
}

h2 {	
font-family: $font-type;
font-size: weight(l);
}

.site__footer {
background-color: $primary-color;
padding-top: 10px;
font-size: weight(xxs);
line-height:24px;
color: $secondary-color;
text-align:center;
}

.site__footer hr {
border-top-color:#534d57;
opacity:0.5
}

.site__footer h6 {
color: white;
font-size: weight(xs);
text-transform:uppercase;
margin-top:10px;
letter-spacing:5px;
}

.site__footer a {
color: $secondary-color;
line-height: 15px;
}

.footer__links {
padding-left:0;
list-style:none;
}

.footer__links li {
display:block
}

.footer__links a {
color: $secondary-color;
}

.footer__links--social li {
width: 100px;
list-style: none;
font-size: 30px;
text-align: left;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 70px;
}

.footer__links.inline li {
display:inline-block
}

.copyright__text {
padding-left: 0;
display: block;
}

/*Hasta ac치 va el index.html*/

.botones__base {
font-family: $font-type;
font-size: weight(xs);
display: flex;
justify-content: flex-end;
}

.boton { 
padding-right: .3em;
margin-top: 1.5em;
padding-bottom: .5em;
display: flex;
justify-content: flex-end;
}

.boton label {
display: inline-flex;
align-self: flex-end;
margin-left: .5em;
padding-right: .5em;
}

.productos {
padding: 2em;
display: flex;
flex-wrap: wrap;
}

.productos div {
display: inline-block;
margin: auto;
}

.tarjeta {
display: flex; 
padding: 0.5em;
}

.tarjeta h5 {
font-family: $font-type;
font-weight: bold;
}

.tarjeta div {
border: $border black;
}

.imagen__producto img {
object-fit: cover;
}

h5 , h6 {
text-align: center;
}

.tarjeta:hover {
animation-duration: 1s;
animation-name: compra;
animation-fill-mode: forwards;
}

@keyframes compra {
0% {
opacity: 0; }
		
100% {
opacity: 0.2; }
}
@keyframes compra {
0% {
opacity: 0; }
		
100% {
opacity: 0.2; }
}
// .container {
// 	display: flex;
// 	flex-wrap: wrap;
// }
// .flip-card {
//   background-color: transparent;
//   width: 20em;
//   height: 30em;
//   border: 1px solid #f1f1f1;
//   perspective: 1000px;
//   object-fit: cover;
//   margin: 1em;
//   justify-content: space-evenly;
// }

// .flip-card-inner {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   transition: transform 0.8s;
//   transform-style: preserve-3d;
//   object-fit: cover;
// }

// .flip-card:hover .flip-card-inner {
//   transform: rotateY(180deg);
// }

// .flip-card-front, .flip-card-back {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   -webkit-backface-visibility: hidden; 
//   backface-visibility: hidden;
// }

// .flip-card-front {
//   background-color: #bbb;
//   color: black;
// }

// .flip-card-back {
//   background-color: $secondary-color;
//   color: white;
//   transform: rotateY(180deg);
// }

// .flip-card-back a {
//   text-decoration: none;
//   text-align: center;
//   color: white;
//   transform: rotateY(180deg);
//   margin-top: 1em;
// }

/*hasta ac치 va prductos.html*/

.gallery {
display: grid;
grid-template-columns: repeat(9, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-gap: 20px;
margin-bottom: 1em;
margin-top: 5em;
}

.gallery__photo {
width: 100%;
height: 100%;
object-fit: cover;
display: block; 
box-shadow: 0px 2px 3px 0px grey;
border-radius:5px;
transition:.2s all; 
}

.gallery:hover .gallery__photo:hover{
transform:scale(1);
filter:blur(0px);
opacity:1;
}

.gallery:hover .gallery__photo{
filter:blur(0px);
opacity:0.2;
transform: scale(0.98);
box-shadow:none;
}


.gallery__img0 {
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 3;
}
.gallery__img1 {
grid-column-start: 4;
grid-column-end: 7;
grid-row-start: 1;
grid-row-end: 3;
}
.gallery__img2 {
grid-column-start: 7;
grid-column-end: 10;
grid-row-start: 1;
grid-row-end: 3;
}

.gallery__img3 {
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 3;
grid-row-end: 5;
}

.gallery__img4 {
grid-column-start: 4;
grid-column-end: 7;
grid-row-start: 3;
grid-row-end: 5;
}
.gallery__img5 {
grid-column-start: 7;
grid-column-end: 10;
grid-row-start: 3;
grid-row-end: 5;
}

.gallery__img6 {
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 5;
grid-row-end: 7;
}
.gallery__img7 {
grid-column-start: 4;
grid-column-end: 7;
grid-row-start: 5;
grid-row-end: 7;
}

.gallery__img8 {
grid-column-start: 7;
grid-column-end: 10;
grid-row-start: 5;
grid-row-end: 7;
}

/*hasta ac치 va galeria.html*/

.dona {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
grid-gap: 1em;
margin-top: 1em;
margin-left: 1em;
margin-right: 1em;
text-align: left;
font-size: weight(s);
font-family: $font-type;
}

.dona img {
animation-duration: 5s;
animation-name: fade;
}

@keyframes fade {
0% {
opacity: 0;	}	
	
100% {
opacity: 1;	}
}


.dona__text {
animation-duration: 3s;
animation-name: fade;
text-align: center;
align-self: center;
}

@keyframes fade {
0% {
opacity: 0;	}

100% {
opacity: 1;	}
}

.dona__h1 {
text-align:center;
margin-top:	3em;
margin-bottom: 3em;
font-family: $font-type;
font-weight: bold;
font-size: weight(l)
}

.dona__pago {
text-decoration: none;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 1em;
text-align: center;
font-size: weight(m);
margin: 2em 1em;
}

.dona__1 {
align-self: center;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2; 
}

.dona__2 {
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 3; 
}

.dona__3 {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3; 
}


.dona__paypal--img {
width: 12em;
margin-right: .5em;
}

.dona__tb--img {
align-self: center; 
transition: transform .5s ease;
box-shadow: 0 0 10px #efeaea;
}

.dona__tb--img:hover {
transform: scale(1.3);

}

.lpqmp:hover {
text-decoration: none;
color: $primary-color;
}

.dona__1 a {
font-size: .6em;
background-color: $secondary-color;
padding: .5em;
border-radius: 5px;
color: #fff;
text-decoration: none;
}
.dona__3 a {
text-decoration: none;
font-size: .6em;
background-color: $secondary-color;
padding: .5em;
border-radius: 5px;
color: #fff;
text-decoration: none;
}
/*hasta ac치 va dona.html*/


@media only screen and (max-width: 768px){

.header {
display: none;}

.header__mobile {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-gap: 1em;
margin-top: 1em;
font-size: weight(s);
text-align: center;
width: 100vw;}

.logo__img--mobile {
width: 5em;}

.menu__mobile ul {
font-family: $font-type;
list-style: none;
display: inline-flex;
margin-top: 1em;}

.menu__item--mobile {
color: black;
text-decoration: none;
padding: 0.3em;
}

.menu__item--mobile:hover {
background: $primary-color;
text-decoration: none;
color: white; 
border-radius: 5px;}

#main__carousel {
height: 30em;
margin-bottom: 1em;}

.carousel__inner img {
width: 100%;
height: 25em;
object-fit: cover;}

.index__text {
font-size: weight(xs);}

.dona {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-gap: 1em;
margin-top: 5em;
font-size: weight(s);}

}


@media only screen and (max-width: 480px) {
.header {
display: none;}

.header__mobile {
font-size: weight(xs);}

#main__carousel {
height: 27em;
margin-bottom: 1em;}

#index__text {
font-size: weight(xs);}

h2 {	
font-size: weight(s);}

.botones__base {
font-family: $font-type;
font-size: weight(xxs);
}

.boton { 
padding-right: .3em;
margin-top: 1.5em;
padding-bottom: .5em;
display: flex;
flex-direction: column;
}

.boton label {
display: inline-flex;
align-self: flex-end;
margin-left: .1em;
}
.productos {
padding: 2em;
display: flex;
flex-wrap: wrap;
}

.productos div {
display: inline-block;
}

.tarjeta {
display: flex; 
padding: 0.5em;
}

.tarjeta h5 {
font-family: $font-type;
font-weight: bold;
}

.dona__1 a {
font-size: .4em;
padding: .3em;}

.dona__3 a {
font-size: .4em;
padding: .3em;}

}